@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";

body {
  font-family: "Lora", serif;
}

.bg-grade {
  background: url("../src/assets/Home/program-bg.png");
  background-size: cover;
}

.custom-shadow {
  box-shadow: 6px 6px 3px black;
  transition: all;
}

.class_bg {
  background: url("../src/assets/Home/class-bg.png");
  background-size: cover;
}

.custom-shadow:hover {
  box-shadow: 6px 6px 3px rgb(230, 173, 17);
}

.bg-footer_img {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.582)),
    url("../src/assets/banner/banner_1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.underline-line {
  height: 2px;
}
