@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";

body {
  font-family: "Lora", serif;
}

.bg-grade {
  background: url("../src/assets/Home/program-bg.png");
  background-size: cover;
}

.custom-shadow {
  box-shadow: 6px 6px 3px black;
  transition: all;
}

.class_bg {
  background: url("../src/assets/Home/class-bg.png");
  background-size: cover;
}

.custom-shadow:hover {
  box-shadow: 6px 6px 3px rgb(230, 173, 17);
}

.bg-footer_img {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.582)),
    url("../src/assets/banner/banner_1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.underline-line {
  height: 2px;
}

.text-hover-apply:hover {
  color: rgba(255, 68, 0, 0.733);
  margin-left: 5px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.gallery img {
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 8px;
}

.gallery img:hover {
  transform: scale(1.05);
}

/* Lightbox */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: fadeIn 0.3s ease;
}

.lightbox img {
  max-width: 90%;
  max-height: 80%;
  border-radius: 10px;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
